ftp.fu-berlin.de/*
data/*
raw_data/*
embeddings/*

pretrained

env/

word2vec/

__pycache__
.ipynb_checkpoints

!data/.gitkeep
!data/filtered_plots_and_genres.csv.zip 
!raw_data/.gitkeep
!embeddings/.gitkeep

vectorised_data/
vectorizers/